logs/
/.metadata/
training-project/trainings/.factorypath
training-project/trainings/trainings-businessprocess/.settings/
training-project/trainings/trainings-businessprocess/.project
training-project/trainings/trainings-businessprocess/.classpath
training-project/trainings/trainings-core/.factorypath
training-project/trainings/trainings-core/.settings/
training-project/trainings/trainings-core/.project
training-project/trainings/trainings-core/.classpath
training-project/trainings/trainings-endpoint/.factorypath
training-project/trainings/trainings-endpoint/.settings/
training-project/trainings/trainings-endpoint/.project
training-project/trainings/trainings-endpoint/.classpath
training-project/trainings/trainings-persistence/.factorypath
training-project/trainings/trainings-persistence/.settings/
training-project/trainings/trainings-persistence/.project
training-project/trainings/trainings-persistence/.classpath
training-project/trainings/trainings-service/.factorypath
training-project/trainings/trainings-service/.settings/
training-project/trainings/trainings-service/.project
training-project/trainings/trainings-service/.classpath
training-project/users/users-businessprocess/.settings/
training-project/users/users-businessprocess/.project
training-project/users/users-businessprocess/.classpath
training-project/users/users-core/.factorypath
training-project/users/users-core/.settings/
training-project/users/users-core/.project
training-project/users/users-core/.classpath
training-project/users/users-endpoint/.factorypath
training-project/users/users-endpoint/.settings/
training-project/users/users-endpoint/.project
training-project/users/users-endpoint/.classpath
training-project/users/users-persistence/.factorypath
training-project/users/users-persistence/.settings/
training-project/users/users-persistence/.project
training-project/users/users-persistence/.classpath
training-project/users/users-service/.factorypath
training-project/users/users-service/.settings/
training-project/users/users-service/.project
training-project/users/users-service/.classpath

