logs/
/.metadata/
training-project/trainings/.factorypath
training-project/trainings/trainings-businessprocess/.settings/org.eclipse.jdt.apt.core.prefs
training-project/trainings/trainings-core/.factorypath
training-project/trainings/trainings-core/.settings/org.eclipse.jdt.apt.core.prefs
training-project/trainings/trainings-endpoint/.factorypath
training-project/trainings/trainings-endpoint/.settings/org.eclipse.jdt.apt.core.prefs
training-project/trainings/trainings-persistence/.factorypath
training-project/trainings/trainings-persistence/.settings/org.eclipse.jdt.apt.core.prefs
training-project/trainings/trainings-service/.factorypath
training-project/trainings/trainings-service/.settings/org.eclipse.jdt.apt.core.prefs
training-project/users/users-businessprocess/.settings/org.eclipse.jdt.apt.core.prefs
training-project/users/users-core/.factorypath
training-project/users/users-core/.settings/org.eclipse.jdt.apt.core.prefs
training-project/users/users-endpoint/.factorypath
training-project/users/users-endpoint/.settings/org.eclipse.jdt.apt.core.prefs
training-project/users/users-persistence/.factorypath
training-project/users/users-persistence/.settings/org.eclipse.jdt.apt.core.prefs
training-project/users/users-service/.factorypath
training-project/users/users-service/.settings/org.eclipse.jdt.apt.core.prefs

